@media screen and (min-width:365px) and (max-width:1192px) {

    .alert-info {
        border: 1px solid lightgray;
        display: flex;
        justify-content: center;
        height: 1em;
        padding: 1em;

    }

    body {
        grid-template-rows: repeat(3, 1fr) 4.5em 5em 1fr;
    }
    h1 {
        display: flex;
        justify-content: center;

    }
    .nav-links {
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style: none;
        padding-left: 0;
    }
    .nav-links li{
        border: 1px solid gray;
        background: lightgrey;
        display: flex;
        justify-content: center;
        margin: .5em;
    }
}