

    .alert-info a {
        text-decoration: none;
    }
    .alert-info {
        border: 1px solid lightgray;
        display: flex;
        justify-content: center;
        height: 1em;
        padding: 1em;
        background-color: #CEFFFF;
    }
    .main {
        text-decoration: none;
        font-weight: bold;
        font-size: large;
    }
    body {
        grid-template-rows: repeat(3, 1fr) 4.5em 5em 1fr;
        font-family: 'Roboto', sans-serif;
    }
    h1 {
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 3em;
        margin: .2em 0;
    }
    .nav-links {
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style: none;
        padding-left: 0;
    }
    .nav-links li{
        padding:1em;
        background: lightgrey;
        display: flex;
        justify-content: center;
        margin: .5em;
    }
    img {
        display: flex;
        width: 100%;
        height: auto;
    }
    h2 {
        margin-bottom: 1px;
    }
    .sub-section {
        font-size: large;
        font-style: italic;
        font-weight: bold;
        padding-top: .5em;
    }

    footer{
        margin-top: 5em;
    }

    @media screen and (min-width:1200px) {
        body {
            display: grid;
            grid-template-rows: 1fr 40% 40% 1fr;
            grid-template-columns: 60% 40%;
            grid-template-areas: "header nav" "picture picture" "main sub" "footer social";
        }
        h1 {
            grid-area: header;
            display: block;
        }

        .nav-links {
            grid-area: nav;
            list-style: none;
            display: flex;
            flex-direction: row;
        }
        .nav-links li {
            background: white;
            display: flex;
            justify-content: flex-end;
        }
        .header-img {
            grid-area: picture;
            margin: auto;
        }

        .main {
            grid-area: main;
            display: flex;
            justify-content: center;
        }

        .sub-section {
            grid-area: sub;
            align-content: center;
        }

        footer {
            grid-area: footer;
        }

        #social-media-links {
            grid-area: social;
        }

        .alert-info {
            display: none;
        }
    }